[submodule "themes/beautifulhugo"]
	path = themes/beautifulhugo
	url = https://github.com/halogenica/beautifulhugo.git
[submodule "public"]
	path = public
	url = git@github.com:ratnadeep007/ratnadeep007.github.io.git
	branch = master
